* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: azure;
  color: navy;
}
/* navbar utama  */
.navbar-main {
  margin: 2px solid;
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(218, 234, 248);
}
.htp {
  color: brown;
}
.strt {
  color: burlywood;
}
.phto {
  color: purple;
}
.me {
  color: black;
}
.hme {
  color: black;
}
.navbar-main .navbar-nama span {
  color: azure;
  background-color: brown;
  border: 10px;
  border-radius: 40px;
}
.image1 {
  max-height: 50vh;
  min-height: 20vh;
  vertical-align: initial;
}
.photo2 {
  max-height: 50vh;
  min-height: 20vh;
  vertical-align: initial;
}
.photo3 {
  max-height:50vh;
  min-height: 20vh;
  vertical-align: initial;
}
.photo4 {
  max-height: 50vh;
  min-height: 20vh;
  vertical-align: initial;
}
.list1 {
  list-style-type: circle;
}
.photo5 {
  max-height: 50vh;
  min-height: 20vh;
  vertical-align: initial;
}
.photo6 {
  max-height: 50vh;
  min-height: 20vh;
  vertical-align: initial;
}
.photo7 {
  width: 240px;
  height: 144px;
}
.photo8 {
  max-height: 40.2vh;
  min-height: 19.2vh;
  vertical-align: initial;
}
.photo9 {
  max-height: 40vh;
  min-height: 20px;
  vertical-align: initial;
  display:initial;
}
.header {
  background-color: rgb(129, 186, 236);
  border: 3px solid rgb(27, 98, 190);
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  vertical-align: initial;
}
.headerr {
  background-color: rgb(134, 191, 241);
  border: 3px solid rgb(93, 62, 232);
  height: 15vh;
}
.article {
  background-color: rgb(90, 90, 222);
  float: left;
  height: 60vh;
  width: 46%;
}
.footer {
  background-color: rgb(185, 185, 66);
  height: 100px;
}
.section {
  background-color: rgb(140, 229, 229);
  height: 100px;
  border: 2px solid white;
}
.div {
  background-color: rgb(131, 109, 81);
  height: 60vh;
  float: right;
  width: 46%;
  display:initial;
}
.aside {
  background-color: rgb(207, 187, 163);
  margin: 5px;
  height: 20px;
}
.footerr {
  background-color: olive;

  display: flex;
  height: 6vh;
  justify-content: center;
  align-items: center;
  margin-top: 70vh;
}
.ul {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.li {
  list-style-type: none;
  padding: 10px;
  color: white;
}
